@model PCStore.ViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Скинути пароль";
}

<div class="wrapper">
    <div class="form-box login">
        <h2>Скинути пароль</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <form asp-action="ForgotPassword">
            <div class="input-box">
                <span asp-validation-for="Email"></span>
                <span class="icon">
                    <ion-icon name="mail"></ion-icon>
                </span>
                <input asp-for="Email" type="email">
                <label>Пошта</label>
            </div>
            <button type="submit" class="btn">Відправити посилання</button>
        </form>
    </div>
</div>