@model PCStore.ViewModels.ResetPasswordViewModel

@{
    ViewData["Title"] = "Скидання паролю";
}

<div class="wrapper">
    <div class="form-box login">
        <h2>Скидання паролю</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <form asp-action="ResetPassword">
            <input asp-for="Email" type="hidden" />
            <input asp-for="Code" type="hidden" />
            <div class="input-box">
                <span asp-validation-for="Password"></span>
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>
                <input asp-for="Password" type="password">
                <label>Новий пароль</label>
            </div>
            <div class="input-box">
                <span asp-validation-for="ConfirmPassword"></span>
                <span class="icon">
                    <ion-icon name="lock-closed"></ion-icon>
                </span>
                <input asp-for="ConfirmPassword" type="password">
                <label>Повторіть пароль</label>
            </div>
            <button type="submit" class="btn">Скинути пароль</button>
        </form>
    </div>
</div>